/cmake-build-debug/
/cmake-build-release/
/cmake-build-ios-debug/
/cmake-build-ios-release/
/cmake-build-intel-debug/
/cmake-build-intel-release/
/cmake-build-emscripten-debug/
/cmake-build-emscripten-release/
/emsdk/
/src/client/kiwi_machine/build/win/*.aps
/.idea/
**/.DS_Store
/venv/
/src/third_party/Kiwi-Machine-Workspace/
!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.html

!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.worker.js

!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.wasm

!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.js
