/cmake-build-debug/
/cmake-build-release/
/.idea/
**/.DS_Store
/venv/
/src/client/kiwi_machine/build/win/*.aps
/cmake-build-release_noembed/
/cmake-build-debug_noembed/
/cmake-build-ios/
/cmake-build-release-intel/
/cmake-build-emscripten_debug/
/cmake-build-emscripten/
!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.html

!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.worker.js

!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.wasm

!/src/client/kiwi_machine_wasm/kiwi-machine/public/kiwi_machine.js
